* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box; /* Ensures padding/margin don't cause overflow */
}
.container{
    padding: 40px 60px;
}

.landing-page {
    height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
nav{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.nav-links a {
    text-align: center;
    color:black;
    text-decoration: none;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;
}
.alpha-seed{
    font-size: 28px;
    font-family: "PT Serif", serif;
    font-weight: 700;
}
.btn{
    background-color: rgb(38,70,83);
    color: white;
    padding: 10px 14px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
}



























.page1{
    margin-top: 100px;
    display: flex;
    width: 100%;
    gap: 30px;
}
.text{
    width: 40%;
    font-size: 48px;
    font-family: "PT Serif", serif;
    font-weight: bold;
}
.text p{
    margin-top: 10px;
    font-size: 22px;
    font-family: "Raleway", serif;
    font-weight: 400;
    color: rgb(38,70,83);
}
.image img {
    
   width: auto;
   height: 400px;
    display: block;
}
.image {
   display: flex;
   text-align: center;
   justify-content: center;
}

.page2{
  
    display: flex;
    width: 100%;
}
.page2 ul li{
    font-weight: 400;
}
.image2{
    width: 40%;
}
.page2 p{
    margin-bottom: 10px;
}
.page2 .text{
    width: 60%;
}
ul{
    margin-left: 16px;
}
ul li{
    font-size: 15px;
    font-family: "Raleway", serif;
    color: rgb(38,70,83);
    margin-bottom: 10px;
}











.page3{
   
    display: flex;
    width: 100%;
}
.page3 ul li{
    list-style: none;
    margin-bottom: 25px;
    font-weight: 400;
}
.page3 ul{
    margin-top: 20px;
    margin-left: 40px;
}
.page3 .text{
    width: 50%;
    margin-left: 140px;
}
.image{
    width:50%;
}
.page3 .text i{
    color: #28a745;
}







.footer {
    background-color: #274047;
    color: white;
    
    padding: 100px 80px 0px 80px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    font-family: "Raleway", serif;
}
.footer-column {
    flex: 1;
    min-width: 200px;
     max-width: 280px;
}
.footer h2 {
    margin-bottom: 30px;
    font-family: "Raleway", serif;
    letter-spacing: 2px;
    font-weight: 500;

}
.footer p, .footer a {
    color: white;
    text-decoration: none;
    line-height: 1.6;
}
.social-icons {
    margin-top: 15px;
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.footer-links a {
    display: block;
    margin-bottom: 8px;
}
.copyright {
    background-color: #274047;
    padding: 15px;
    color: white;
}